<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.grayscaleconsultants.tatapp.instrumentation"
          android:versionCode="1"
          android:versionName="0.3.0">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36" />
  <instrumentation
      android:name=".TatappInstrumentation"
      android:targetPackage="com.grayscaleconsultants.tatapp"
      android:functionalTest="true"
      android:label="TATAPP Android Instrumentation" />
  <application
      android:allowBackup="false"
      android:debuggable="true"
      android:testOnly="true"
      android:label="TATAPP Android Instrumentation">
    <provider
        android:name=".TatappTestDocumentProvider"
        android:authorities="com.grayscaleconsultants.tatapp.instrumentation.documents"
        android:exported="true"
        android:grantUriPermissions="true" />
  </application>
</manifest>
